<h1>
  OHV Asset Manager
</h1>
<nav>
  <a href="/stores">
    All Stores
  </a>
   | 
  <a href="/vehicles">
    All Vehicles
  </a>
</nav>
<hr />
<h2>
  Store list
</h2>
<p>
  <a href="/stores/new">New Store</a>
</p>
<hr />

<% sort_by = params[:sort] || 'created_at' %>
<% stores_path = sort_by == 'vehicle_count' ? '/stores?sort=created_at' : '/stores?sort=vehicle_count' %>

<p style="font-size: 14px">
  <a href="/stores?sort=vehicle_count">sort by vehicle count</a>
</p>

<% @stores.each do |store| %>
  <h3>
    <% if sort_by == 'vehicle_count' %>
      <%= store.store_name %> (<%= store.vehicles_count %>)
    <% else %>
      <%= store.store_name %>
    <% end %>

     - 
    <span style="font-size: 14px;">
      <a href="/stores/<%=store.id%>/edit">
        edit
      </a>
       | 
      <a href="/stores/<%=store.id%>" data-method="delete">
        delete
      </a>
    </span>
  </h3>
  <p>
    Created on: <%= store.created_at %>
  </p>
<% end %>