<h1>
  OHV Asset Manager
</h1>
<nav>
  <a href="/stores">
    All Stores
  </a>
   |
  <a href="/vehicles">
    All Vehicles
  </a>
</nav>
<hr />

<h2>
  Vehicle list for <%= @store.store_name %>
</h2>
<p>
  <a href="/stores/<%= @store.id %>/vehicles?sort=alphabetical">
    Sort Vehicles
  </a>
   |
  <a href="/stores/<%= @store.id %>/vehicles/new">
    Create Vehicle
  </a>
</p>
<form id="seating_filter_form" action="/stores/<%= @store.id %>/vehicles" method="get">
  <label for="seating_filter">
    Minimum Seating:
  </label>
  <input type="number" id="seating_filter" name="seating_filter">
  <input type="submit" value="Filter">
</form>

<% @vehicles.each do |vehicle| %>
  <% if params[:seating_filter].blank? || vehicle.seating.to_i >= params[:seating_filter].to_i %>
    <h3>
      <%= vehicle.model_year %> <%= vehicle.make %> <%= vehicle.model %> - 
      <span style="font-size: 14px;">
      <a href="/vehicles/<%=vehicle.id%>/edit">
        edit
      </a>
       | 
      <a href="/vehicles/<%=vehicle.id%>" data-method="delete">
          delete
      </a>
    </span>
    </h3>
    <p>
      Seating: <%= vehicle.seating %><br />
      Mileage: <%= vehicle.mileage %><br />
      Engine hours: <%= vehicle.engine_hours %><br />
      Repairs Needed: <%= vehicle.repairs_needed %><br />
      Last service: <%= vehicle.last_service_date %><br />
      Current Location: <%= vehicle.store_id %>
    </p>
  <% end %>
<% end %>
