<h1>OHV Asset Manager</h1>
<nav>
  <a href="/stores">All Stores</a>
  <a href="/vehicles">All Vehicles</a>
</nav>
<hr />
<p><a href="/vehicles/<%=@vehicle.id%>/edit">Update Vehicle</a></p>
<h2><%= @vehicle.model_year %> <%= @vehicle.make %> <%= @vehicle.model %></h2>
  <p>Seating: <%= @vehicle.seating %><br />
  Mileage: <%= @vehicle.mileage %><br />
  Engine hours: <%= @vehicle.engine_hours %><br />
  Repairs Needed: <%= @vehicle.repairs_needed %><br />
  Last service: <%= @vehicle.last_service_date %><br />
  Current Location: <%= @vehicle.store_id %></p>